<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="KomojuPaymentsFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Komoju\Payments\Model\Ui\ConfigProvider::CODE</argument>

            <argument name="valueHandlerPool" xsi:type="object">KomojuValueHandlerPool</argument>
            <!-- To update for Komoju -->
            <!-- <argument name="formBlockType" xsi:type="string">Komoju\Payments\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Komoju\Payments\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">BraintreeValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">BraintreeValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">BraintreeCommandPool</argument> -->
        </arguments>
    </virtualType>

    <virtualType name="KomojuValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">KomojuConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="KomojuConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">Magento\Payment\Gateway\Config\Config</argument>
        </arguments>
    </virtualType>
</config>
