<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_is_active">
        <observer name="disable_payment" instance="Komoju\Payments\Observer\PaymentMethodAvailable" />
    </event>
    <event name="sales_model_service_quote_submit_before">
        <observer name="save_quote_before_order" instance="Komoju\Payments\Observer\SaveQuoteBeforeOrder" />
    </event>
    <event name="controller_action_predispatch_checkout_index_index">
        <observer name="restore_quote_from_session" instance="Komoju\Payments\Observer\RestoreQuoteFromSession" />
    </event>
    <event name="order_cancel_after">
        <observer name="restore_cart_after_cancel" instance="Komoju\Payments\Observer\RestoreAfterCancel" />
    </event>
</config>
