<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko if: showTitle() -->
  <h3 data-bind="text: getTitle()"></h3>
<!-- /ko -->

<!-- ko foreach: { data: getEnabledPaymentTypes(), as: 'method' } -->
<div class="payment-method"
    data-bind="
    css: {'_active': (($parent.komojuMethod() == method.value) && ($parent.getCode() == $parent.isChecked()))},
    attr: { id: method.value + '-node' }
    ">
    <div class="payment-method-title field choice">
        <input type="radio"
                name="payment[method]"
                class="radio"
                data-bind="
                attr: {'id': method.value},
                value: method.value,
                checked: $parent.komojuMethod,
                click: $parent.selectPaymentMethod.bind($parent),
                visible: $parent.isRadioButtonVisible()
                "/>
        <label class="label" data-bind="attr: {'for': method.value}">
            <span data-bind="text: method.displayText"></span>
        </label>
    </div>
    <!-- ko if: $parent.komojuFieldEnabledMethods.includes(method.value) -->
    <div data-bind="visible: $parent.komojuMethod() === method.value">
        <komoju-fields
            data-bind="attr: { 'session': $parent.getSession(),
                'payment-type': method.value,
                'publishable-key': $parent.getPublishableKey(),
                'locale': $parent.komojuSession().default_locale,
            }"
            token = ""
            name="komoju_payment_token"
            komoju-api="https://komoju.com">
        </komoju-fields>
    </div>
    <!-- /ko -->
</div>
<!--/ko-->

<div class="payment-method-content komoju_payment_billing">
    <!-- ko foreach: getRegion('messages') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->

    <div class="payment-method-billing-address">
        <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    </div>

    <div class="actions-toolbar" style="margin-top: 40px">
        <div class="primary">
            <button class="action primary checkout"
                    type="submit"
                    data-bind="
                    click: placeOrder,
                    attr: {title: $t('Place Order')}
                    ">
                <span data-bind="i18n: 'Place Order'"></span>
            </button>
        </div>
    </div>
</div>
