:root,:host {
  --primary-color: #000000;
  --error-color: #df1b41;
  --secondary-color: #6d6e78;
  --placeholder-color: #6d6e78;
  --border-color: #e6e6e6;
  --selected-color: #0570de;
  --field-background: #ffffff;
  --hover-background: #cccccc1f;

  font-family: sans-serif;
  color: var(--primary-color);
}

body {
  box-sizing: border-box;
  margin: 4px;
}

komoju-i18n {
  display: inline;
}

komoju-error {
  color: var(--error-color);
}

komoju-fade {
  position: absolute;
  z-index: 100;

  background: white;

  opacity: 0;
  transition: opacity 0.5s;
}

komoju-fade.show {
  opacity: 0.65;
}

input {
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

label input.invalid {
  border-color: var(--error-color);
  color: var(--error-color);
}

.field {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.field input {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.03), 0px 3px 6px rgba(0, 0, 0, 0.02);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 0.75rem;
  background: var(--field-background);
  color: var(--primary-color);
}
.field input::placeholder {
  color: var(--placeholder-color);
}

.price-info {
  color: var(--secondary-color);
}

.fields {
  gap: 12px;
}

#picker {
  gap: 12px;
  margin-bottom: 12px;
}

#picker .radio {
  width: 9rem;
}

.konbini,#picker {
  justify-content: flex-start;
}

.radio {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  border-radius: 5px;
  border: 1px solid var(--border-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.03), 0px 3px 6px rgba(0, 0, 0, 0.02);

  background-color: var(--field-background);
  color: var(--primary-color);
  font-weight: 500;
  font-size: 0.875rem;

  width: 11.25rem;
  padding: 0.75rem;
  gap: 2px;

  cursor: pointer;

  transition: background-color 0.1s ease-out,
              border-color 0.1s ease-out,
              color 0.1s ease-out;
}

.radio input {
  position: absolute;
  opacity: 0;
}

.radio:hover {
  background: var(--hover-background);
  color: var(--hover-color, var(--primary-color))
}

.radio:active {
  background: var(--field-background);
}

.radio.checked {
  border-color: var(--selected-color);
  color: var(--selected-color);
}

iframe {
  border: none;
  width: 100%;
  height: 100%;
}
