<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="komoju_payments" translate="label comment" type="text" sortOrder="5" showInDefault="1" showInStore="1" showInWebsite="1">
                <label>KOMOJU</label>
                <comment>Accept Japanese payments with KOMOJU</comment>
                <attribute type="displayIn">recommended_solutions</attribute>
                <fieldset_css>complex komoju-section</fieldset_css>
                <frontend_model>Magento\Paypal\Block\Adminhtml\System\Config\Fieldset\Payment</frontend_model>
                <field id="active" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="1">
                    <label>Enable this Solution</label>
                    <comment>This plugin can only work if the store's base currency is one of: JPY</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>payment/komoju_payments/active</config_path>
                </field>
                <group id="komoju_api_settings" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="3">
                    <label>API Settings</label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
                    <field id="merchant_id" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Merchant UUID</label>
                        <config_path>payment/komoju_payments/merchant_id</config_path>
                    </field>
                    <field id="secret_key" translate="label" type="obscure" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Secret Key</label>
                        <config_path>payment/komoju_payments/secret_key</config_path>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    </field>
                    <field id="webhook_secret_token" translate="label comment" type="obscure" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Webhook Secret</label>
                        <comment>The webhook URL will be at /komoju/hostedpage/webhook of this site</comment>
                        <config_path>payment/komoju_payments/webhook_secret_token</config_path>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    </field>
                </group>
                <group id="komoju_checkout_page_settings" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="4">
                    <label>Checkout Settings</label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
                    <field id="title" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                        <config_path>payment/komoju_payments/title</config_path>
                    </field>
                    <field id="show_title" translate="label comment" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Show Title at Checkout</label>
                        <comment>Display the title above the payment methods on the checkout page</comment>
                        <config_path>payment/komoju_payments/show_title</config_path>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
